@media screen and (max-width:991px){
    .dropdown-hover {
        position: static;
        transform: none;
        clip-path: none;
        ul {
            > li {
                opacity: 1;
                transform: none;
            }
        }
    }

    .content-wrap {
        padding: 80px 0;
    }

    .row-title {
        margin-bottom: 50px;
    }

    .main-title {
        margin-bottom: 50px;
        h1.title {
            font-size: 42px;
        }
    }

    .caption-btn {
        margin-top: 40px;
    }

    .main-header {
        .top-header {
            .lang-header {
                margin-right: 0;
                i {
                    margin-right: 0;
                    margin-left: 5px !important;
                    display: none;
                }
                > a {
                    
                    text-align: right;
                }
            }
            .btn-contact {
                display: none;
            }
        }
        .logo-header {
            .logo-icon {
                width: 32px;
                height: 32px;
            }
            .logo-type {
                font-size: 14px;
            }
        }
        .nav-header {
            padding: 10px 15px 10px 10px;
            .logo-header {
                transition: opacity .3s var(--easing),
                            visibility .3s;
                .is-search & {
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }
        .menu-header {
            position: absolute;
            top: 100% !important;
            left: 0 !important;
            right: 0 !important;
            transform: translateY(-10px) !important;
            background-color: var(--c-dark);
            border-radius: 0 0 10px 10px;
            padding: 35px 25px 25px;
            z-index: -1;
            clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
            transition: clip-path .3s var(--easing);
            .is-menu & {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }
            .btn-contact {
                display: block;
                margin-top: 30px;
                &:after {
                    border-color: rgba(255,255,255,.3);
                }
            }
        }
        .menu {
            display: block;
            > li {
                + li {
                    margin-left: 0;
                    margin-top: 15px;
                    padding-top: 15px;
                    border-top: 1px solid rgba(255,255,255,.1);
                }
                > a {
                    display: flex;
                    align-items: center;
                    padding: 0;
                    font: 500 16px/26px var(--f-circular);
                    letter-spacing: -.01em;
                    text-transform: none;
                    &.active {
                        color: var(--c-blue);
                    }
                }
                &:hover {
                    > a {
                        color: var(--c-blue);
                    }
                }
            }
            .dropdown {
                > a {
                    &:before {
                        display: none;
                    }
                    &:after {
                        margin-left: auto;
                        content: "\f067";
                        font-family: "Font Awesome 5 Pro";
                        font-weight: 300;
                        font-size: 14px;
                        color: var(--c-white);
                        transition: transform .3s var(--easing);
                    }
                }
                &:hover {
                    > a {
                        &:after {
                            transform: rotate(45deg);
                        }
                    }
                    .dropdown-hover {
                        max-height: 200px;
                    }
                }
            }
            .dropdown-hover {
                transform: none !important;
                max-height: 0;
                overflow: hidden;
                transition: max-height .3s var(--easing);
                ul {
                    margin-top: 0;
                    padding: 15px 20px;
                }
            }
        }
        .search-header {
            margin-left: 0;
        }
        .search-form {
            margin: 0 70px 0 20px;
        }
        .burger-menu {
            display: flex;
        }
        &.is-sticky {
            .menu-header {
                transform: none !important;
                left: -15px !important;
                right: -15px !important;
                border-radius: 0;
            }
            .menu {
                > li {
                    > a {
                        color: rgba(255,255,255,.7);
                    }
                }
            }
            .search-form {
                margin: 0 60px 0 5px;
                .form-control {
                    text-align: left;
                }
            }
        }
        &.is-hide {
            transform: translateY(-100%) !important;
        }
    }

    .banner-area {
        min-height: auto;
        .banner-caption {
            .main-title {
                .title {
                    font-size: 70px;
                    span {
                        -webkit-text-stroke: 1px var(--c-white);
                    }
                }
            }
        }
        .swiper-button-wrapper {
            left: 20px;
            display: none;
        }
        .scroll-icon {
            right: 20px;
            display: none;
        }
    }

    .home-facilities {
        overflow-x: hidden;
    }

    .home-popular {
        overflow-x: hidden;
        padding-top: 0;
        .swiper-slide {
            max-width: 300px;
            &:nth-child(even) {
                margin-top: 0;
            }
        }
        .main-title {
            text-align: center;
            .subtitle {
                padding: 0 70px;
                &:after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 0;
                    width: 50px;
                    height: 1px;
                    background-image: var(--g-blue);
                }
            }
        }
    }

    .home-programs {
        .main-title {
            text-align: center;
            .subtitle {
                padding: 0 70px;
                &:after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 0;
                    width: 50px;
                    height: 1px;
                    background-image: var(--g-blue);
                }
            }
        }
        .tab-menu {
            margin-top: 30px;
            text-align: center;
            .nav-tabs {
                justify-content: unset;
                display: inline-flex;
            }
        }
    }

    .home-news {
        .section-bg {
            display: none;
            img {
                height: 380px;
                object-fit: cover;
                object-position: center;
            }
        }
    }

    .blog-post {
        margin-bottom: 15px;
    }

    .single-product {
        margin-bottom: 15px;
        .product-info {
            position: relative;
            margin: -12px 0 0;
            padding: 25px;
        }
        .product-price {
            .price {
                font-size: 14px;
            }
        }
        &.long-product {
            display: block;
            background-color: transparent;
            box-shadow: none;
            .product-img {
                width: auto;
                &:before {
                    padding-top: 70%;
                }
            }
            .product-info {
                position: relative;
                z-index: 2;
                margin: -12px 0 0;
                border-radius: 10px;
                background-color: var(--c-white);
                box-shadow: 0 10px 62px -20px rgba(20, 30, 58, 0.12);
                transition: box-shadow .3s var(--easing);
            }
            .product-title {
                margin: 15px 0 20px;
            }
            &:hover {
                box-shadow: none;
                .product-info {
                    box-shadow: 0 29px 75px -15px rgba(20, 30, 58, 0.2);
                }
            }
        }
    }

    .caption-media {
        display: block;
        [class^=col-] {
            position: static;
        }
        .caption-media-img {
            position: relative;
            padding: 0 15px;
            width: 100%;
            top: auto;
            bottom: auto;
            &:after {
                content: "";
                display: block;
                padding-top: 80%;
            }
        }
        .caption-img {
            margin-bottom: 40px;
        }
        .img-tile {
            margin-bottom: 90px;
        }
        .caption-img-slide {
            border-radius: 10px;
        }
        .swiper-pagination-wrapper {
            bottom: auto;
            left: 0;
            right: 0;
            top: 19%;
            .swiper-pagination-fraction {
                display: none;
            }
            .swiper-button-prev,
            .swiper-button-next {
                position: absolute;
                background-color: var(--c-light) !important;
                width: 70px;
                height: 70px;
                color: var(--c-dark);
                &:before,
                &:after {
                    display: none;
                }
                
            }
            .swiper-button-prev {
                left: -35px;
                i {
                    margin-left: 30px;
                }
            }
            .swiper-button-next {
                right: -35px;
                i {
                    margin-right: 30px;
                }
            }
        }
        .caption-txt {
            text-align: center;
            .main-title {
                .subtitle {
                    padding: 0 70px;
                    &:after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 0;
                        width: 50px;
                        height: 1px;
                        background-image: var(--g-blue);
                    }
                }
            }
        }
    }

    .page-header {
        position: relative;
        padding: 210px 0 80px;
        min-height: 300px;
        .main-title {
            .title {
                font-size: 42px;
            }
        }
    }

    .breadcrumb {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .post-header {
        padding-top: 180px;
        .post-title {
            margin: 20px 0 30px;
            font-size: 36px;
        }
        .post-img {
            margin: 0 -15px;
            border-radius: 0;
        }
        .post-info {
            display: block;
            margin: 30px 0 0;
            padding-bottom: 20px;
            .social-icon {
                justify-content: center;
                margin-top: 30px;
                padding-top: 20px;
                border-top: 1px solid var(--c-grey_l3);
                > div {
                    margin-right: auto !important;
                }
            }
        }
    }

    .post-detail {
        padding-top: 40px;
    }

    .product-header {
        padding: 160px 0 80px;
        margin-bottom: 0;
        .img-wrapper {
            margin-bottom: 30px;
        }
        .product-img {
            min-height: 320px;
            .swiper-button-wrapper {
                position: static;
                .swiper-button-prev,
                .swiper-button-next {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    z-index: 4;
                    width: 70px !important;
                    height: 70px !important;
                    opacity: 1 !important;
                    font-size: 15px;
                    background-color: var(--c-grey_l2);
                }
                .swiper-button-prev {
                    left: -40px;
                    i {
                        margin-left: 30px;
                    }
                }
                .swiper-button-next {
                    right: -40px;
                    i {
                        margin-right: 30px;
                    }
                }
            }
        }
        .product-info {
            padding: 0;
            min-height: auto;
            .product-title {
                font-size: 36px;
                margin: 20px 0 30px;
                //text-align: center;
            }
            .product-price {
                flex-direction: column-reverse;
                align-items: initial !important;
                .price-label {
                    margin-left: 0 !important;
                    text-align: left !important;
                    margin-bottom: 30px;
                }
            }
        }
    }

    .product-detail {
        .tab-menu {
            text-align: center;
            .nav-tabs {
                justify-content: unset;
                display: inline-flex;
            }
        }
    }

    .album-info-content {
        padding-right: 0;
        margin-bottom: 40px;
    }

    .main-contact {
        .map {
            width: auto;
            height: 320px;
            margin: 0 -15px;
            border-radius: 0;
            box-shadow: none;
            margin-top: 40px;
            #map-canvas {
                border-radius: 0;
            }
        }
    }

    .main-contact-form {
        .section-bg {
            display: none;
        }
    }

    .main-footer {
        .partner-footer {
            padding: 30px 0;
        }
        .contact-footer {
            .contact-box {
                display: block;
                text-align: center;
                i {
                    margin: 0 auto 15px;
                }
            }
        }
        .top-footer {
            .logo-wrap {
                margin-bottom: 40px;
            }
            .footer-wrap {
                margin-top: 40px;
                text-align: center;
            }
            .main-title {
                margin-bottom: 20px;
            }
        }
        .bottom-footer {
            .container {
                display: block;
                text-align: center;
            }
            .copyright {
                margin-bottom: 20px;
            }
            .social-icon {
                justify-content: center;
            }
        }
    }

    .lg-toolbar {
        padding: 24px 15px 0;
    }

    .lg-actions {
        .lg-prev {
            left: 15px;
        }
        .lg-next {
            right: 15px;
        }
    }
}