@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("../fonts/circular/fonts.css");
:root {
  --f-circular: "Circular", sans-serif;
  --f-inter: "Inter", sans-serif;
  --c-default: #7c808b;
  --c-dark: #141e3a;
  --c-light: #f7f9fd;
  --c-white: #fff;
  --c-grey: #a5a9b4;
  --c-grey_l1: #bfc4cf;
  --c-grey_l2: #dbdfe9;
  --c-grey_l3: #edf0f8;
  --c-blue: #1984FF;
  --c-blue_d1: #1173e2;
  --g-blue: linear-gradient(to right,var(--c-blue)0%,var(--c-light_blue)100%);
  --c-light_blue: #35c6ff;
  --c-orange: #FF7C2B;
  --c-yellow: #ffc21c;
  --easing: cubic-bezier(.860,0,.070,1);
}

html,
body,
#main {
  height: 100%;
}

body {
  font: 400 16px/1.625 var(--f-inter);
  color: var(--c-default);
  background-color: var(--c-light);
}

.site-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/noise.jpg);
  pointer-events: none;
  z-index: 999;
  opacity: 0.05;
}

.scrollbar-track-x {
  display: none !important;
}

.scrollbar-track.scrollbar-track-y {
  opacity: 1;
  width: 6px;
  background-color: transparent;
}
.scrollbar-track .scrollbar-thumb.scrollbar-thumb-y {
  border-radius: 0;
  background-color: #000;
}

.content-wrap {
  padding: 120px 0;
  position: relative;
}

.container {
  width: calc(100% - 30px);
  max-width: 1200px;
  padding: 0;
}

.container-fluid {
  width: calc(100% - 106px);
  margin: 0 auto;
  padding: 0;
}

.o-visible {
  overflow: visible !important;
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.row.no-gutter [class^=col-] {
  padding-left: 0;
  padding-right: 0;
}
.row.sm-gutter {
  margin-left: -7.5px;
  margin-right: -7.5px;
}
.row.sm-gutter [class^=col-] {
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.circle-46 {
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.c-cursor {
  cursor: url(../img/cursor_arrow.svg) 30 30, auto;
}

.fw-med {
  font-weight: 500;
}

.fw-sbold {
  font-weight: 600;
  letter-spacing: -0.01em;
}

.fw-bold {
  font-weight: 700;
  letter-spacing: -0.02em;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-22 {
  font-size: 22px;
}

.fs-24 {
  font-size: 24px;
}

.fs-26 {
  font-size: 26px;
}

.bg-g-blue {
  background-image: linear-gradient(to right, var(--c-blue) 0%, var(--c-light_blue) 100%);
}

.txt-white {
  color: var(--c-white) !important;
}

.txt-dark {
  color: var(--c-dark) !important;
}

.txt-grey {
  color: var(--c-grey) !important;
}

.txt-blue {
  color: var(--c-blue) !important;
}

.txt-g_blue {
  color: transparent !important;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: var(--g-blue);
}

.bg-white {
  background-color: var(--c-white) !important;
}

.bg-dark {
  background-color: var(--c-dark) !important;
}

.bg-grey_l2 {
  background-color: var(--c-grey_l2) !important;
}

.bg-grey_l3 {
  background-color: var(--c-grey_l3) !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

b, strong {
  font-weight: 600;
  color: var(--c-dark);
  letter-spacing: -0.01em;
}

.badge {
  text-transform: uppercase;
  letter-spacing: 0.04em;
  padding: 4px 16px;
  border-radius: 20px;
  font: 700 11px/20px var(--f-circular);
}
.badge .icon-badge {
  margin-right: 8px;
  margin-left: -6px;
  font-size: 14px;
}
.badge.badge-blue {
  background-image: var(--g-blue);
  color: var(--c-white);
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s var(--easing);
}
a:hover {
  color: var(--c-dark);
  text-decoration: none;
}

.link-icon {
  padding: 0;
  background-color: transparent;
  border: none;
  color: var(--c-default);
  display: inline-flex;
  align-items: center;
  font: 400 14px/16px var(--f-inter);
  cursor: pointer;
}
.link-icon span {
  position: relative;
  transform: translateZ(0);
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;
  color: var(--c-dark);
  margin-left: 20px;
  transition: color 0.3s var(--easing);
}
.link-icon span:before, .link-icon span:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.link-icon span:before {
  background-color: var(--c-dark);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s var(--easing);
}
.link-icon span:after {
  border: 1px solid var(--c-grey_l1);
  border-radius: 30px;
  z-index: -1;
  transition: transform 0.4s var(--easing), opacity 0.4s var(--easing);
}
.link-icon span i {
  font-size: 18px;
}
.link-icon:hover span, .link-icon:focus span, .link-icon:focus:active span {
  color: var(--c-white);
}
.link-icon:hover span:before, .link-icon:focus span:before, .link-icon:focus:active span:before {
  transform: scaleX(1);
  transform-origin: left;
}
.link-icon:hover span:after, .link-icon:focus span:after, .link-icon:focus:active span:after {
  transform: scale(0.8);
  opacity: 0;
}

@keyframes linkIconRight {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100%);
    opacity: 0;
  }
  51% {
    transform: translateX(-100%);
    opacity: 0;
  }
}
@keyframes linkIconLeft {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
    opacity: 0;
  }
  51% {
    transform: translateX(100%);
    opacity: 0;
  }
}
p {
  margin-bottom: 20px;
}

.main-title {
  margin-bottom: 60px;
  position: relative;
}
.main-title .subtitle {
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
  padding-left: 70px;
  font: 700 13px/14px var(--f-circular);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: var(--g-blue);
}
.main-title .subtitle:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 50px;
  height: 1px;
  background-image: var(--g-blue);
}
.main-title .title {
  font-family: var(--f-circular);
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.04em;
  margin: 0;
}
.main-title.text-center .subtitle {
  padding: 0 70px;
}
.main-title.text-center .subtitle:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 50px;
  height: 1px;
  background-image: var(--g-blue);
}

h1, h2, h3, h4, h5 {
  font-weight: 600;
  color: var(--c-dark);
  line-height: 1.4;
  margin: 30px 0 20px;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 26px;
}

h5 {
  font-size: 20px;
}

.row-title {
  margin-bottom: 60px;
}
.row-title .main-title {
  margin-bottom: 0;
}

.caption-btn {
  margin-top: 50px;
}

.box-img {
  position: relative;
  overflow: hidden;
}
.box-img:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.thumb {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.thumb img {
  pointer-events: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.btn {
  position: relative;
  transform: translateZ(0);
  overflow: hidden;
  border: none;
  height: auto;
  font: 700 13px/26px var(--f-circular);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  padding: 10px 26px;
  border-radius: 30px;
  background-color: var(--c-grey_l2);
  color: var(--c-dark);
  transition: color 0.3s var(--easing), background-color 0.3s var(--easing), border-color 0.3s var(--easing);
}
.btn:hover, .btn:focus, .btn:focus:active {
  color: var(--c-dark);
  box-shadow: none;
  background-color: var(--c-grey_l1);
}
.btn.btn-blue {
  background-color: var(--c-blue);
  color: var(--c-white);
}
.btn.btn-blue:hover, .btn.btn-blue:focus, .btn.btn-blue:focus:active {
  background-color: var(--c-blue_d1);
  color: var(--c-white);
}
.btn.btn-icon {
  padding: 0;
  width: 46px;
  height: 46px;
  display: flex;
  font-size: 15px;
  align-items: center;
  justify-content: center;
}
.btn.btn-icon.btn-sm {
  width: 38px !important;
  height: 38px !important;
}
.btn.btn-icon.btn-lg {
  width: 70px !important;
  height: 70px !important;
  border-radius: 40px;
  font-size: 16px;
}
.btn.btn-white {
  background-color: var(--c-white);
  color: var(--c-dark);
}
.btn.btn-white:hover, .btn.btn-white:focus, .btn.btn-white:focus:active {
  background-color: var(--c-grey_l3);
  color: var(--c-dark);
}
.btn .icon-left,
.btn .icon-right {
  font-size: 16px;
  margin-top: -2px;
  display: inline-block;
  vertical-align: middle;
}
.btn .icon-right {
  margin-left: 15px;
}
.btn .icon-left {
  margin-right: 15px;
}

.btn-outline {
  border: 1px solid var(--c-grey_l2);
  background-color: transparent !important;
  padding: 8px 30px;
}
.btn-outline.btn-white {
  border-color: var(--c-white);
  color: var(--c-white);
}
.btn-outline.btn-white:hover {
  background-color: var(--c-white) !important;
  color: var(--c-dark);
}

.btn-custom-outline {
  border: none;
  background-color: transparent !important;
}
.btn-custom-outline:before, .btn-custom-outline:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.btn-custom-outline:before {
  background-color: var(--c-dark);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s var(--easing);
}
.btn-custom-outline:after {
  border: 1px solid var(--c-grey_l2);
  border-radius: 30px;
  z-index: -1;
  transition: transform 0.4s var(--easing), opacity 0.4s var(--easing);
}
.btn-custom-outline:hover, .btn-custom-outline:focus, .btn-custom-outline:focus:active {
  background-color: transparent;
  color: var(--c-white);
}
.btn-custom-outline:hover:before, .btn-custom-outline:focus:before, .btn-custom-outline:focus:active:before {
  transform: scaleX(1);
  transform-origin: left;
}
.btn-custom-outline:hover:after, .btn-custom-outline:focus:after, .btn-custom-outline:focus:active:after {
  transform: scale(0.8);
  opacity: 0;
}
.btn-custom-outline.btn-white {
  color: var(--c-white);
}
.btn-custom-outline.btn-white:before {
  background-color: var(--c-white);
}
.btn-custom-outline.btn-white:hover, .btn-custom-outline.btn-white:focus, .btn-custom-outline.btn-white:focus:active {
  color: var(--c-dark);
}
.btn-custom-outline.btn-blue {
  color: var(--c-blue);
}
.btn-custom-outline.btn-blue:before {
  background-color: transparent;
  background-image: var(--g-blue);
}
.btn-custom-outline.btn-blue:after {
  border-color: var(--c-blue);
}

.btn-custom:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--c-dark);
  transform-origin: left;
  transform: scaleX(1);
  z-index: -1;
  transition: transform 0.3s var(--easing);
}
.btn-custom:before {
  transform: scaleX(0);
  transform-origin: right;
}
.btn-custom:hover, .btn-custom:focus, .btn-custom:focus:active {
  color: var(--c-white);
}
.btn-custom:hover:before, .btn-custom:focus:before, .btn-custom:focus:active:before {
  transform: scaleX(1);
  transform-origin: left;
}
.btn-custom.btn-blue {
  background-color: transparent;
  background-image: var(--g-blue);
}
.btn-custom.btn-blue:hover, .btn-custom.btn-blue:focus, .btn-custom.btn-blue:focus:active {
  background-color: transparent;
}

::-moz-placeholder {
  color: inherit !important;
}

::-webkit-input-placeholder {
  color: inherit !important;
}

.form-label {
  font-weight: 500;
  color: var(--c-dark);
  font-size: 14px;
  margin-bottom: 0;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  font: 400 16px/26px var(--f-inter);
  height: auto;
  padding: 6px 0 13px;
  border-radius: 0;
  background-color: transparent;
  color: var(--c-default);
  border-width: 0 0 1px;
  border-color: transparent transparent var(--c-grey_l2);
  box-shadow: none;
  transition: border-color 0.3s var(--easing), color 0.3s var(--easing);
}
.form-control:focus {
  background-color: transparent;
  box-shadow: none;
  color: var(--c-default);
  border-color: var(--c-blue);
}

select.form-control {
  -webkit-appearance: none;
  height: auto !important;
  font-weight: normal;
  cursor: pointer;
}
select.form-control > option {
  font-family: var(--f-inter);
  font-size: 14px;
  font-weight: normal !important;
}

.dropdown-hover,
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 210px;
  clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
  transition: clip-path 0.3s var(--easing);
}
.dropdown-hover > ul,
.dropdown-menu > ul {
  position: relative;
  margin: 0;
  list-style: none;
  padding: 20px 28px;
  background-color: var(--c-dark);
  border-radius: 8px;
}
.dropdown-hover > ul > li,
.dropdown-menu > ul > li {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s var(--easing), transform 0.3s var(--easing);
}
.dropdown-hover > ul > li + li,
.dropdown-menu > ul > li + li {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.06);
}
.dropdown-hover > ul a,
.dropdown-menu > ul a {
  font-size: 14px;
  color: var(--c-default);
}
.dropdown-hover > ul a:hover,
.dropdown-menu > ul a:hover {
  color: var(--c-white);
}

.dropdown:hover .dropdown-hover {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.dropdown:hover .dropdown-hover > ul > li {
  opacity: 1;
  transform: translateY(0);
}
.dropdown:hover .dropdown-hover > ul > li:nth-child(2) {
  transition-delay: 0.1s;
}
.dropdown:hover .dropdown-hover > ul > li:nth-child(3) {
  transition-delay: 0.15s;
}
.dropdown:hover .dropdown-hover > ul > li:nth-child(4) {
  transition-delay: 0.2s;
}
.dropdown:hover .dropdown-hover > ul > li:nth-child(5) {
  transition-delay: 0.25s;
}

.dropdown-menu {
  display: block !important;
  background-color: transparent;
  border: none;
}
.show .dropdown-menu {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.show .dropdown-menu > ul > li {
  opacity: 1;
  transform: translateY(0);
}
.show .dropdown-menu > ul > li:nth-child(2) {
  transition-delay: 0.1s;
}
.show .dropdown-menu > ul > li:nth-child(3) {
  transition-delay: 0.15s;
}
.show .dropdown-menu > ul > li:nth-child(4) {
  transition-delay: 0.2s;
}
.show .dropdown-menu > ul > li:nth-child(5) {
  transition-delay: 0.25s;
}

.swiper-wrapper {
  transition-timing-function: var(--easing) !important;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  color: var(--c-dark);
  font-size: 18px;
  background-image: none;
  margin-top: 0;
  transform: translateY(-50%);
  transition: background-color 0.3s var(--easing), color 0.3s var(--easing), opacity 0.3s var(--easing);
}
.swiper-button-prev:after,
.swiper-button-next:after {
  content: "";
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.5;
}

.swiper-button-prev {
  left: 20px;
}

.swiper-button-next {
  right: 20px;
}

.swiper-button-wrapper .swiper-button-prev,
.swiper-button-wrapper .swiper-button-next {
  position: relative;
  margin: 0;
  top: auto;
  left: auto;
  right: auto;
  transform: none;
}
.swiper-button-wrapper .swiper-button-prev:after,
.swiper-button-wrapper .swiper-button-next:after {
  content: "";
}
.swiper-button-wrapper .swiper-button-next {
  margin-left: 10px;
}

.swiper-pagination-wrapper,
.swiper-button-wrapper {
  display: flex;
  align-items: center;
}
.swiper-pagination-wrapper .swiper-pagination,
.swiper-button-wrapper .swiper-pagination {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
}

.swiper-pagination-fraction {
  display: flex;
  align-items: center;
}
.swiper-pagination-fraction span {
  font-size: 12px;
  color: var(--c-dark);
}
.swiper-pagination-fraction span.divider {
  width: 50px;
  height: 1px;
  background-image: var(--g-blue);
  margin: 2px 15px 0;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 6px;
  opacity: 1;
  background-color: var(--c-grey_l2);
  transition: width 0.3s var(--easing), background-color 0.3s var(--easing);
}
.swiper-pagination .swiper-pagination-bullet + .swiper-pagination-bullet {
  margin-left: 8px;
}
.swiper-pagination .swiper-pagination-bullet-active {
  width: 20px;
  background-color: var(--c-blue);
}

.tab-menu {
  transform: translateZ(0);
  margin-bottom: 60px;
}

.tab-menu-scroll {
  overflow: auto;
}

.nav-tabs {
  position: relative;
  border-bottom: none;
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 0;
}
.nav-tabs .nav-item {
  margin: 0;
}
.nav-tabs .nav-item + .nav-item {
  margin-left: 10px;
}
.nav-tabs .nav-link {
  border-radius: 30px;
  font: 600 14px/26px var(--f-inter);
  letter-spacing: normal;
  text-transform: none;
  border: none;
  background-color: transparent;
  padding: 6px 20px;
  font-size: 13px;
}
.nav-tabs .nav-link:before {
  background-image: var(--g-blue);
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus, .nav-tabs .nav-link:focus:active {
  color: var(--c-blue);
  background-color: transparent;
}
.nav-tabs .nav-link:hover:before, .nav-tabs .nav-link:focus:before, .nav-tabs .nav-link:focus:active:before {
  transform: scaleX(0);
}
.nav-tabs .nav-link:hover:after, .nav-tabs .nav-link:focus:after, .nav-tabs .nav-link:focus:active:after {
  transform: scale(1);
  opacity: 1;
}
.nav-tabs .nav-link.active {
  border: none;
  color: var(--c-white);
}
.nav-tabs .nav-link.active:before {
  transform: scaleX(1);
}
.nav-tabs .nav-link.active:after {
  transform: scale(0.8);
  opacity: 0;
}
.bg-dark .nav-tabs .nav-link {
  color: rgba(255, 255, 255, 0.7);
}
.bg-dark .nav-tabs .nav-link:after {
  border-color: rgba(255, 255, 255, 0.2);
}
.bg-dark .nav-tabs .nav-link:hover {
  color: var(--c-white);
}
.nav-tabs.tab-style-1 {
  transform: translateZ(0);
  justify-content: space-between;
}
.nav-tabs.tab-style-1:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  background-color: var(--c-grey_l2);
  z-index: -1;
}
.nav-tabs.tab-style-1 .nav-link {
  background-color: var(--c-white) !important;
}
.bg-dark .nav-tabs.tab-style-1:before {
  background-color: rgba(255, 255, 255, 0.2);
}
.bg-dark .nav-tabs.tab-style-1 .nav-link {
  background-color: var(--c-dark) !important;
}
.pagination-nav {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.pagination-nav .pagination {
  margin: 0 auto;
}
.pagination-nav .page-item {
  margin: 0 5px;
}
.pagination-nav .page-link,
.pagination-nav .page-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  width: 38px;
  height: 38px;
  border-radius: 30px !important;
  color: var(--c-default);
  background-color: transparent;
  font: 600 14px/16px var(--f-inter);
  transition: color 0.3s var(--easing), background-color 0.3s var(--easing);
}
.pagination-nav .page-link:hover, .pagination-nav .page-link:focus, .pagination-nav .page-link:focus:active,
.pagination-nav .page-btn:hover,
.pagination-nav .page-btn:focus,
.pagination-nav .page-btn:focus:active {
  background-color: var(--c-grey_l3);
  color: var(--c-dark);
  box-shadow: none;
}
.pagination-nav .page-link.active,
.pagination-nav .page-btn.active {
  background-color: transparent;
  background-image: var(--g-blue);
  color: var(--c-white);
}
.pagination-nav .page-link.active:hover, .pagination-nav .page-link.active:focus, .pagination-nav .page-link.active:focus:active,
.pagination-nav .page-btn.active:hover,
.pagination-nav .page-btn.active:focus,
.pagination-nav .page-btn.active:focus:active {
  background-color: transparent;
  color: var(--c-white);
}
.pagination-nav .page-btn {
  font-weight: 300;
  color: var(--c-dark);
}

img.lazy {
  opacity: 0;
  transition: opacity 0.3s var(--easing);
}
img.loaded {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
